@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bkg: 255 255 255;
  --color-primary: 0 0 0;
}

:root[data-theme="dark"] {
  --color-bkg: 17 33 45;
  --color-primary: 255 255 255;
}