@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bkg: 255, 255, 255;
  --color-primary: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --color-bkg: #11212D;
    --color-primary: 255, 255, 255; */
  }
}

body {
  color: rgb(var(--color-primary));
  background-color: rgb(var(--color-bkg));
}
